body {
    background-color: black;
    text-align: center;
}
h1 {
    color: rgb(214, 255, 255);
    font-size: 150px;
    font-family: cursive;
    text-shadow: 10px 10px black;
}
h2 {
    color: rgb(255, 144, 144);
    font-size: 70px;
    font-family: monospace;
    text-shadow: 5px 5px black;
}
h3 {
    color: rgb(0, 83, 139);
    font-size: 50px;
    font-family: monospace;
}
.titlePage {
    border: 30px solid rgb(116, 160, 255);
    background-image: url(https://images.abercrombiekent.com.au/images/wonders-of-south-korea-hero1.jpg);
    text-align: center;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}
.countryPics {
    border: 30px solid darkblue;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.peopleImg {
    border: 30px solid darkblue;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.subtitle {
    font-size: 25px;
    color: rgb(0, 83, 139);
    font-family: monospace;
}
